/* Styles pour la section de texte à gauche et image à droite */
.text-left-image-right-section {
    display: flex;
    flex-direction: row-reverse; /* Inverse la disposition pour l'image à droite */
    align-items: center;
    text-align: center;
    padding: 20px;
}

.text-left-image-right-section .text, .text-left-image-right-section .image {
    max-width: 50%;
}

.text-left-image-right-section img {
    max-width: 100%;
    height: auto;
}

/* Média query pour les écrans plus petits */
@media (max-width: 768px) {
    .text-left-image-right-section {
        flex-direction: column; /* Affiche les éléments en colonne sur les écrans plus petits */
        padding: 10px;
    }

    .text-left-image-right-section .text, .text-left-image-right-section .image {
        max-width: 80%;
    }
}
