/* Styles pour le footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ff7f50;
}

/* Styles pour les icônes de médias sociaux */
.social-icons {
    display: flex;
    justify-content: flex-end; /* Aligne les icônes à droite */
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px; /* Marge entre les icônes */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* Média query pour les écrans plus petits */
@media (max-width: 768px) {
    footer {
        padding: 10px;
    }

    .social-icons {
        justify-content: center; /* Centrer les icônes sur les écrans plus petits */
    }
}