/* Styles pour la section avec plusieurs images */
.multi-image-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux images de passer à la ligne si elles ne rentrent pas */
    justify-content: space-between; /* Espacement égal entre les images */
}

.multi-image-section img {
    max-width: calc(33.33% - 10px); /* 10px de marge entre les images */
    margin-bottom: 10px; /* Marge en bas des images */
    height: auto;
}

/* Média query pour les écrans plus petits */
@media (max-width: 768px) {
    .multi-image-section img {
        max-width: calc(50% - 10px); /* 10px de marge entre les images */
    }
}
